<footer>

  <p class="about">Founded by Federico Viticci in April 2009, MacStories attracts millions of
readers every month thanks to in-depth, personal, and informed coverage that aims at offering a
balanced mix of industry news, software reviews, and opinion.</p>


  <form class="newsletter" action="" method="post">
    <input class="newsletter-email" name="" type="email" placeholder="Email Address" required>
    <input class="newsletter-submit" type="submit" value="Subscribe to One per Week">
  </form>

  <ul class="social-map">
    <li><a class="social-item twitter" href="https://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
    <li><a class="social-item facebook" href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">linkedin</a></li>
    <li><a class="social-item rss" href="https://github.com/{{ site.github }}/" target="_blank">github</a></li>
  </ul>


  <span class="copyright">&copy; 2014 <a href="http://www.rojcyk.com">rojcyk</a></span>

</footer>
