<footer>

  <p class="about">Once a week we publish articles that help you make your life <br/>easier using iOS and Mac apps in various situations.</p>


    <div id="mc_embed_signup">
<form action="//tapmates.us1.list-manage.com/subscribe/post?u=07157204c380398136239a61d&amp;id=496c18130f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter" target="_blank" novalidate>
   <div id="mc_embed_signup_scroll">

    <input type="Email" value="" name="EMAIL" class="newsletter-email" id="mce-EMAIL" placeholder="email address" required>
   <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
   <div style="position: absolute; left: -5000px;"><input type="text" name="b_07157204c380398136239a61d_496c18130f" tabindex="-1" value=""></div>
   <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="newsletter-submit"></div>
   </div>
</form>
</div>

  <ul class="social-map">
    <li><a class="social-item twitter" href="https://twitter.com/{{ site.twitter }}" target="_blank">Twitter</a></li>
    <li><a class="social-item facebook" href="https://www.facebook.com/{{ site.facebook }}" target="_blank">Facebook</a></li>
  </ul>


  <span class="copyright">&copy; 2014 1 per Week</span>


</footer>
