<head>

  <script>
    var dataLayer = dataLayer || []; // Google Tag Manager
  </script>

  <!-- still in alpha -->

  <meta charset="utf-8"/>

  <meta name="author" content="{{ site.title }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, minimal-ui"/>

  <!-- Social Cards -->

  <meta property="og:url" content="{{ site.url }}/{{ page.permalink }}/" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  {% if page.path contains '_posts' %}
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:image" content="{{ site.url }}/{{ page.hero }}" />
  <meta property="og:description" content="{{ page.perex }}" />
  {% else %}
  <meta property="og:description" content="{{ site.description }}"/>
  {% endif %}

  <meta name="twitter:creator" content="@{{ site.twitter_username }}"/>
  <meta name="twitter:description" content="{{ site.description }}"/>
  {% if page.path contains '_posts' %}
  <meta name="twitter:title" content="{{ page.title }}"/>
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}"/>
  {% endif %}

  <!-- Resources -->

  <!-- <link rel="stylesheet/less" type="text/css" href="/assets/less/style.less"/> -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>

  <!--<script async src="/assets/js/less.min.js"></script>-->
  <script async src="/assets/js/prefixfree.min.js"></script>

  <title>{{ site.title }}{% if page.path contains '_posts' %}
   • {{ page.title }}
  {% endif %}</title>


</head>