<head>

  <script>
    var dataLayer = dataLayer || []; // Google Tag Manager
  </script>

  <!-- still in alpha -->

  <meta charset="utf-8"/>

  <meta name="author" content="{{ site.title }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0, minimal-ui"/>

  <!-- dodelat twitter a facebook cards -->

  <link rel="stylesheet/less" type="text/css" href="/assets/less/style.less"/>
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml"/>

  <script async src="/assets/js/less.min.js"></script>
  <script async src="/assets/js/prefixfree.min.js"></script>

  <title>{{ site.title }}</title>


</head>