<nav>
    <ul class="menu">
        <li><a href="http://0.0.0.0:4000/">One per Week</a></li>
        <li><a class="menu-item" href="http://0.0.0.0:4000/">Contact</a></li>
        <li><a class="menu-item" href="http://0.0.0.0:4000/">Newsletter</a></li>
    </ul>
</nav>

<!--
    <ul class="categories">
        <li><a class="category-item" href="http://0.0.0.0:4000/">Travel</a></li>
        <li><a class="category-item" href="http://0.0.0.0:4000/">Seasons</a></li>
        <li><a class="category-item" href="http://0.0.0.0:4000/">Shopping</a></li>
    </ul>
-->